#item {
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  img.item {
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
  }
}
