extends layout.jade
block content
  #album.container
    h1 Album

    .items
      each item in items
        .item
          a(href=item.url)
           img(src=item.thumbnailUrl)

    p
      = items.length + ' items'
