extends layout.jade
block content
  #index.container
    h1 Index

    ul.albums
      each album in albums
        li
          a(href=album.url)= album.name

    p
      = albums.length + ' albums'
